.page-inner::before{
    content: " The manual has moved - use /ldilab-manual for new location.";
    display: inline-block;
    color: rgb(180, 70, 70);
    font-size: 20px;
    /* text-align: center; */
    position: absolute;
    left: 20%;
    right: 20%;
    /*-webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);*/
    opacity:0.9;
}
